#!/bin/bash
#
# copy to .env
#

export SSH_PORT=22
export SSH_PUBLIC_KEY='ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC8keIz88FnhKnFVSx4LncrlFB2ymYIBFwWP/3VykapUF4kOdXkC72WaDj4uRxKN1kYVNu/9e1KytvYA/PAQf41nBbfSPkp/lu5NW9mwktjWMKqCcpWJG61iYp1jU89vq9DL4wBVERge+2trrZJW1ax9LtaR7lPO+FpJ3QS91IcLjGwqtxcGDB3NT+2L63xaLsOdFjjx+f1UcQIL16hCrxnwMgneP0f20MuMGpxwkAD1zdocMAAPnJXioO3px6MrDF6Sma5WaRW8AZ9NYn2BrX2wHuPTItQlYJ26ci//F+svMHnLJARfPnMfsgRyBRCSYTlqpywYiKpyWJCjDPGA2UT5zBZWOu63208GF21PHAR0MR/awz4KeOWC3MPy6YT4+us+8snazhi8d1N3yGGiZ4zomDFVJQBvtNjOfdECOeoA+98rOVzu0ZutquUHyxV52FBunPf8/h4N2UtSzHY4ZrYwm1wf8OQsYjD3IgQmQ97SGFN3aLjcUipWXfkkB2TZxM= chiller@debian'

